<launch>
  <arg name="model" />
  <arg name="gui" default="True" />
  <include file="$(find kuka_kr470_support)/launch/load_kr470.launch" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_kr470_support)/rviz/urdf.rviz" />
</launch>
